trunk/jsp-xml-task-system/TaskSystem/schema/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/1999/xhtml">
    <xsd:element name="users" type="xs:usersType"></xsd:element>


    <xsd:complexType name="usersType">
    	<xsd:sequence>
    		<xsd:element name="user" type="xs:userType" maxOccurs="unbounded" minOccurs="1">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="userType">
    	<xsd:attribute name="username" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="password" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>